.board{
display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 2rem;
  padding: 1.3rem;
  padding-bottom: 7rem;
}
  .video-container .video-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  iframe {
    width: 100%;
    height: 400px;
  }

  .video-info span {
    color: black;
  }

  .video-info-stats {
    display: flex;
    align-items: center;
  }

  .video-info-stats div {
    margin-left: 6rem;
    position: relative;
    top: -2px;
  }

  .channel-info-description {
    padding-top: 1rem;
    border-bottom: 1px solid darkGrey;
    border-top: 1px solid darkGrey;
  }

  .channel-info-description p {
    font-size: 0.9rem;
    padding: 1rem 0;
  }

  .related-videos img {
    height: 140px;
  }

  .related-videos div {
    margin-bottom: 1rem;
  }

  svg {
    fill: darkGrey;
  }

	@media screen and (max-width: 930px) {
   
    .related-videos {
      display: none;
    }
  }



  @media screen and (max-width: 425px) {
    .video-info-stats div {
      margin-left: 1rem;
    }
  }